<!DOCTYPE html>
{% load static forum %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Forum アプリケーション</title>
    <link rel="stylesheet" href="{% static 'main/css/forum.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="title">返信</h1>
        <h2 class="subtitle">{{ message.content }}</h2>

        <form class="message-form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.content }}
            {{ form.image }}
            <input type="submit" class="btn-submit" value="投稿">
        </form>

        <a class="home-link" href="{% url 'forum' topic.name %}">掲示板へ</a>
    </div>
</body>
</html>